<% include header %>
<script src="/js/autentificacion.js"></script>

<nav class="light-blue lighten-1" role="navigation">
   <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="#">Navbar Link</a></li>
     </ul>

     <ul id="nav-mobile" class="side-nav">
       <li><a href="#">Navbar Link</a></li>
     </ul>
     <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
   </div>
 </nav>
 <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <br><br>
     <h1 class="header center orange-text">Starter Template</h1>
     <div class="row center">
       <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
     </div>
     <div class="row center">
       <a  data-target="modalLogin" id="download-button" class="modal-trigger btn-large waves-effect waves-light orange">Get Started</a>
     </div>
     <br><br>

   </div>
 </div>


 <div class="container">
   <div class="section">

     <!--   Icon Section   -->
     <div class="row">
       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
           <h5 class="center">Speeds up development</h5>

           <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
           <h5 class="center">User Experience Focused</h5>

           <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
         </div>
       </div>

       <div class="col s12 m4">
         <div class="icon-block">
           <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
           <h5 class="center">Easy to work with</h5>

           <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
         </div>
       </div>
     </div>

   </div>
   <br><br>

   <div class="section">

   </div>
 </div>

 <footer class="page-footer orange">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Company Bio</h5>
         <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


       </div>
       <div class="col l3 s12">
         <h5 class="white-text">Settings</h5>
         <ul>
           <li><a class="white-text" href="#!">Link 1</a></li>
           <li><a class="white-text" href="#!">Link 2</a></li>
           <li><a class="white-text" href="#!">Link 3</a></li>
           <li><a class="white-text" href="#!">Link 4</a></li>
         </ul>
       </div>
       <div class="col l3 s12">
         <h5 class="white-text">Connect</h5>
         <ul>
           <li><a class="white-text" href="#!">Link 1</a></li>
           <li><a class="white-text" href="#!">Link 2</a></li>
           <li><a class="white-text" href="#!">Link 3</a></li>
           <li><a class="white-text" href="#!">Link 4</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
     </div>
   </div>
 </footer>
<script>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
     $('ul.tabs').tabs();
  });
</script>

<!--login modal-->
<div id="modalLogin" class="modal">
    <div class="modal-content">
      <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#test1">Login</a></li>
              <li class="tab col s3"><a  href="#test2">Registro</a></li>
            </ul>
          </div>
          <div id="test1" class="col s12">

              <!-- LOGIN -->

              <h3 class="center-align">Login</h3>
              <div class="center-align">
                  <div class="divider"></div>
                  <form class="col s12">
                      <div class="row center-align">
                          <div class="input-field col m10 offset-m1 blue-text">
                              <i class="mdi-action-account-circle prefix"></i>
                              <input id="usuarioLogin" type="text" class="validate">
                              <label for="usuarioLogin">Usuario o Email</label>
                          </div>
                          <div class="input-field col m10 offset-m1 blue-text ">
                              <i class="mdi-action-lock-open prefix"></i>
                              <input id="claveLogin" type="password" class="validate">
                              <label for="claveLogin">Clave</label>
                          </div>
                          <div class="input-field col m10 offset-m1 blue-text ">
                            <p>Espol</p>
                            <a href="/espol" role="button">iniciar sesion</a>
                              <p>O inicia sesion con redes sociales</p>
                              <a href="/auth/twitter" role="button">Twitter</a>
                              <a href="/auth/facebook" role="button">Facebook</a>
                          </div>
                          <div class="input-field col m10 offset-m1 blue-text">
                              <input type="checkbox" class="blue-text" id="filled-in-box" checked="checked">
                              <label for="filled-in-box">Remember me next time</label>
                          </div>
                      </div>
                  </form>
                  <div class="divider"></div>
                  <p>
                      <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                      <a id="login" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Login</a>
                  </p>
              </div>
          </div>


          <div id="test2" class="col s12">

          <!-- REGISTRO -->
          <h3 class="center-align">Registro</h3>
          <div class="center-align">
              <div class="divider"></div>
              <form class="col s12">
                  <div class="row center-align">
                    <div class="input-field col m10 offset-m1 blue-text">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="username" type="text" class="validate">
                        <label for="username">Usuario</label>
                    </div>
                      <div class="input-field col m10 offset-m1 blue-text">
                          <i class="mdi-action-account-circle prefix"></i>
                          <input id="email" type="text" class="validate">
                          <label for="email">Email</label>
                      </div>
                      <div class="input-field col m10 offset-m1 blue-text ">
                          <i class="mdi-action-lock-open prefix"></i>
                          <input id="clave" type="password" class="validate">
                          <label for="clave">Clave</label>
                      </div>

                  </div>
              </form>
              <div class="divider"></div>
              <p>
                  <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                  <a id="registro" href="#" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Registro</a>
              </p>
          </div>
          </div>
        </div>

    </div>
</div>
<% include footer %>
